{
  "singleQuote": true,
  "trailingComma": "all",
  "quoteProps": "consistent",
  "arrowParens": "avoid",
  "vueIndentScriptAndStyle": true,
  "endOfLine": "crlf",
  "singleAttributePerLine": true
}

