{
  "quoteProps": "as-needed",
  "singleQuote": true,
  "semi": true,
  "bracketSameLine": false,
  "trailingComma": "all",
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "endOfLine": "crlf",
  "vueIndentScriptAndStyle": true,
  "singleAttributePerLine": true,
  "arrowParens": "avoid"
}
